#page-teacher-list {
    width: 100vw;
    height: 100vh;
}

#search-teachers {
    margin-top: 3.2rem;
}

#search-teachers label {
    color: var(--color-text-in-primary);
}

#search-teachers button {
    align-items: center;
    background: var(--color-secundary);
    border-radius: .8rem;
    border: none;
    color: var(--color-button-text);
    cursor: pointer;
    display: flex;
    font: 700 1.6rem Archivo;
    height: 5.6rem;
    justify-content: center;
    margin-top: 3.2rem;
    transition: background-color 0.2s;
    width: 100%;
}

#search-teachers button:hover {
    background: var(--color-secundary-dark);
}

#page-teacher-list main {
    margin: 3.2rem auto;
    width: 90%;
}